# Core functionality - changes here should be rare!
/src/app.py                   @NagarAryan
/src/backend/database.py      @NagarAryan
/src/backend/routers/auth.py  @NagarAryan

# The frontend will need refactored soon to be more object oriented.
/src/static/   @NagarAryan
